{% extends 'base.html' %}

{% load bootstrap %}
{% load static %}

{% block title %}Cadastrar Relatório{% endblock%}

{% block main %}    
<script src="{% static 'scripts_relatorio.js' %}"></script>
    <br/>
    <form action="" name="formRelatorio" method="post"  enctype="multipart/form-data">
    <div class="content">
        <div class="row">
           <div class="col-12">
                <input hidden class="hidden" id="{{ id }}">
                <h3>Descontaminação Nº {{ id }}</h3>
                    {% csrf_token %}
                    <h5>Veículo placa: {{ veiculo.placa }}</h5>
                    <label>Placaasdasdasdasd:</label>
                    <input type="text" value="{{ veiculo.placa }}" name="placa" /><br/>
                    <label>Finalidade da Descontaminacao:</label><br/>
                    <ul>
                        {% for tipo in tipo_descontaminacao %}   
                            <input type="checkbox" name="checkbox-{{tipo.0}}"> {{tipo.1}}</li>
                        {%endfor%}
                    </ul>
                    <label>Processo aplicado Descontaminacao:</label><br/>
                    <select name="selTipoProcesso" class="form-control" required>           
                        {% for processo in processo_descontaminacao %}      
                            <option value="{{processo.0}}">{{processo.1}}</option>             
                        {%endfor%}    
                    </select>
                    <label>Horas validade Descontaminação</label><br/>
                    <input name="validade" type="number" class="form-control" class="input input" value='24' required />
                    <label>Processo aplicado Descontaminacao:</label><br/>
                    <select name="selTipoEquipamento" class="form-control" required>           
                        {% for tipo in tipo_equipamento %}      
                            <option value="{{tipo.0}}">{{tipo.1}}</option>             
                        {%endfor%}    
                    </select>
                    <br/>
            </div>
        </div>
        
        <div class="row" id="lugarPracolar">
            {% for i in range %}
            <div class="col" id="formInteiro{{ i }}">
                <div class="row">
                    <h6 id="titulo{{ i }}">Compartimento: {{ i }}</h6>                   
                </div>
                <div class="row">
                    <label for="volume" class="form-label">Volume</label>
                    <input type="number" class="form-control" name="volume{{ i }}" id="volume{{ i }}" onfocusout="updateVolume({{ i }})" required />
                </div>
                <div class="row combustivel-form">
                    <p>Combustível</p>
                    <input type="text" class="form-control" name="combustivel{{ i }}" id="combustivel{{ i }}" list="produtos" onfocusout="updateONU({{ i }})" required />
                    <datalist id="produtos">
                        {% for prodt in produtos %}
                            <option name="{{ prodt.produto }}" id="{{ prodt.numero_onu }}" value="{{ prodt.produto }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
                <div class="row">
                    <label for="ONU" class="form-label">Número onu</label>
                    <input type="number" class="form-control" name="ONU{{ i }}" id="ONU{{ i }}" required />
                </div>
                <div class="row">
                    <label for="classeRisco" class="form-label">Classe de Risco</label>
                    <input type="number" class="form-control" name="classeRisco{{ i }}" id="classeRisco{{ i }}" value="3" required />
                </div>
                <div class="row">
                    <label for="pressaoVapor" class="form-label">Pressão de Vapor</label>
                    <input type="text" class="form-control" name="pressaoVapor{{ i }}" id="pressaoVapor{{ i }}" value="NA" required />
                </div>                
                <div class="row">
                    <label for="tempo{{ i }}" class="form-label">Tempo</label>
                    <input type="number" class="form-control" name="tempo{{ i }}"id="tempo{{ i }}" required />
                </div>
                <div class="row">
                    <label for="massaVapor" class="form-label">Massa de Vapor</label>
                    <input type="text" class="form-control" name="massaVapor{{ i }}" id="massaVapor{{ i }}" value="NA" required />
                </div>
                <div class="row">
                    <label for="volumeAr" class="form-label">Volume de Ar</label>
                    <input type="number" class="form-control" name="volumeAr{{ i }}" id="volumeAr{{ i }}" required />
                </div>
                <div class="row">
                    <label for="neutralizante" class="form-label">Neutralizante</label>
                    <input type="text" class="form-control" name="neutralizante{{ i }}" id="neutralizante{{ i }}" value="NA" required />
                </div>
            </div>
            {% endfor %}
        </div>
        <br/>
        
        <input type="submit" class="btn btn-info" required="required" value="Salvar"/>
    </div>
    </form>
{% endblock %}